#container,
#below_bar,
#action_panel{
    display:flex;

}
html,
body
{
    border-width: 0%;
    margin:0%;
    height: 100%;
    max-height: 100%;
    user-select: none;
}
#container{
    background-color: lime;
    height:100%;
    flex-direction: column;
}
.orange
{
    color:orange;

}
#top_bar
{
    height:4%;
    background-color: rgb(63, 73, 82);
    border-bottom: 2px solid rgb(29, 32, 34);
    display: flex;
}
h1
{
    font-size:large;
    margin:0.2%;
    color: paleturquoise;
    font-family: 'Courier New', monospace;
}
#reset
{
    color:red;

}
#below_bar
{
    flex-direction: row;
    background-color:green;
    height:100%;
    color:ghostwhite;
    font-family:'Calibri', 'Helvetica', 'Arial', sans-serif;
}
#resource_panel
{
    height: 100%;
    flex: 1;
    background-color: rgb(40, 47, 53);
    
}
#resource_panel_padding
{
    padding:0.5%;
}
.res_list_header
{
    color:orange;
}
#action_panel
{
    overflow-x: hidden;
    overflow-y: auto;
    height:100%;
    max-height: 100%;
    flex:2;
    flex-direction: column;
    background-color: rgb(16, 18, 20);
    border-right: 2px solid rgb(29, 32, 34);
    border-left: 2px solid rgb(29, 32, 34);
}
#stage_panel
{
    height:100%;
    flex:1;
    background-color: rgb(40, 47, 53);
}
.act_row
{
    background-color: rgb(51, 51, 51);
    width:98%;
    display: flex;
    flex:1;
    margin:1%;
    max-height:200px;
    border-radius:1%;
    justify-content: space-around;
    align-items: center;
}
.act_item
{
    background-color: rgb(34, 34, 34);
    height:90%;
    width:30%;
    max-width:200px;
    flex: 1;
    border-radius:2%;
    border: 2px solid rgb(16, 18, 20);
    text-align: center;
}
.robot_menu
{
    height:10%;
    background-color: rgb(70, 81, 90);
    display:flex;
}
.robot_minus
{
    background-color: darkred;
    flex:1;
    border: 1px solid rgb(36, 4, 4);
}
.robot_minus,
.robot_plus,
.robot_menu
{
    border-radius: 5px;

}
.robot_label_text,
.robot_label_bar
{
    grid-column: 1;
    grid-row:1;
}
.robot_label_bar
{
    background-color: rgb(24, 88, 124);
    z-index: 1;
}
.robot_label_text
{
    z-index: 2;
}
.robot_label
{

    flex:8;
    align-content: center;
    
    display: grid;
}
.robot_plus
{
    background-color: darkgreen;
    flex:1;
    border:1px solid rgb(12, 46, 12)
}