
html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
}
body {
    height:100%;
    width: 100%;
    margin: 0px;
}
main {
    
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    background-color: #1b1b1b;
}
* {
    box-sizing: border-box;
}

#wheel_section {
    width: 100%;
    height: 100%;
}

#right_section {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;
    height: 100%;
    background-color: #393939;
    display: grid;
    justify-items: center;
    align-items: center;
}
#winner_section {
    grid-area: 1 / 1 / 2 / 4;
    width:100%;
    height:100%;
    color:white;
    padding: 5px;
}
#winner_name {
    text-align: center;
    font-size:50px;
    height:90%;
    border:solid 1px white;
    border-radius:10px;
}
.main_button {
    font-size: 40px;
    height: 90%;
    width:90%;
    border-radius: 10px;
    background-color: transparent;
    border: solid 2px;
    line-height: 0px;
}
#start_button {
    grid-area: 2 / 1 / 3 / 3;
    color:rgb(0, 255, 0);
    border-color:rgb(0, 255, 0);
    width: 95%
}
#start_button:hover {
    background-color: green;
}
#start_button:active {
    background-color: darkgreen;
}
#clear_button {
    grid-area: 3 / 1 / 4 / 3;
    border-color: rgb(0, 204, 255);
    color:rgb(0, 204, 255);
    width: 95%
}
#clear_button:hover {
    background-color: rgb(7, 49, 77);
}
#clear_button:active {
    background-color: rgb(6, 35, 59);
}
#reset_button {
    grid-area: 4 / 1 / 5 / 2;
    border-color: red;
    color:red;
}
#reset_button:hover {
    background-color: rgb(83, 10, 10);
}
#reset_button:active {
    background-color: rgb(58, 10, 10);
}
#restore_button {
    grid-area: 4 / 2 / 5 / 3;
    border-color: yellow;
    color:yellow;
}
#restore_button:hover {
    background-color: rgb(114, 114, 0);
}
#restore_button:active {
    background-color: rgb(61, 61, 0);
}
#mode_button {
    grid-area: 5 / 1 / 6 / 2;
    border-color: rgb(0, 0, 255);
    color:rgb(0, 0, 255);
}
#mode_button:hover {
    background-color: rgb(6, 6, 54);
}
#mode_button:active {
    background-color: rgb(8, 8, 34);
}#ban_button {
    grid-area: 5 / 2 / 6 / 3;
    border-color: rgb(255, 0, 255);
    color:rgb(255, 0, 255);
}
#ban_button:hover {
    background-color: rgb(146, 0, 146);
}
#ban_button:active {
    background-color: rgb(51, 0, 51);
}
#generate_button {
    border-color: rgb(0, 177, 177);
    color:rgb(0, 177, 177);
    height: 100%;
    width:100%;
}
#ban_mode {
    font-size: 20px;
}
#generate_button:hover {
    background-color: rgb(0, 95, 95);
}
#generate:active {
    background-color: rgb(0, 65, 65);
}
#generate_box {
    grid-area: 2 / 1 / 4 / 3;
    height: 95%;
    width:95%;
    border:0px;
}
#names_section {
    grid-area: 2 / 3 / 6 / 4 ;
    width:100%;
    height:100%;
    color:white;
    background-color: #2c2c2c;
    overflow: auto;
}
#auth_section {
    grid-area: 4 / 1 / 5 / 2
}
#add_name_bar {
    display:flex;
    flex-direction: row;
    border:#2c2c2c solid 3px;
}
#add_name_input {
    width:100%;
    border:none;
    border-radius: 1000px
}
#add_name_button {
    background-color: transparent;
    border:none;
    color:white;
    border:solid 1px white;
    margin-left:1%;
    border-radius: 100%;
}
.name {
    background-color: transparent;
}
.name>button {
    float:right;
    position:relative;
    right:2%;
    padding: 0px;
    border:0px;
    color:red;
    background-color: transparent;
}